.container{
    margin: auto;
    max-width: 1200px;
}

.row{
    flex-direction: column;
}

aside{
    flex-basis: 30%;
}

nav{
    position: static;
}

nav > a {
    display: none;
}

nav div{
    transform: translateX(0);
    flex-direction: row;
    position: static;
    justify-content: space-around;
}

nav div a{
    border: none;
}

header {
    background-image: url('baleia1.jpg'); 
    background-size: cover;
    background-position: center;
    height: 300px; 
    color: #e0e1dd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.imagem {
    display: none;
}

