.container{
    margin: auto;
    max-width: 1200px;
}

.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

aside{
    flex-basis: 30%;
}

nav{
    position: static;
}

nav > a {
    display: none;
}

nav div{
    transform: translateX(0);
    flex-direction: row;
    position: static;
    justify-content: space-around;   
}

nav div a{
    border: none;
}

header {
    background-image: url('baleia1.jpg'); 
    background-size: cover;
    background-position: center;
    height: 300px; 
    color: #e0e1dd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;    
}

header h1 {
    text-shadow: 2px 2px 5px black;
}

.imagem {
    display: none;
}

.card {
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card-image {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}








