:root{    
    --primary-color:#1b263b;
    --primary-color-variant:#e0e1dd;
    --secondary-color:#778da9;
    --secondary-color-variant:#118ab2;
    --link-color:#073b4c;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-color);
}

header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 25px 0;
    color:#e0e1dd;
}

header h1 {
    text-shadow: 10px 5px 5px #1b263b;;
}

.container{
    margin-top: 40px;
}

a:any-link{
    color:var(--secondary-color);
    text-decoration: none;
    padding:10px 15px;
}

nav{
    text-align: right;
    background-color: var(--link-color);
    position:fixed;
    top:0;
    left: 0;
    width: 100%;   
    padding: 10px 0; 
}

#close{
    display: none;
}

nav div{
    background-color: var(--link-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(-100%);
    position:absolute;
    transition: transform 0.3s;
}

nav:target div{
    transform: translateX(0);
    text-align: right;
}

nav div a{
    border: 1px dotted var(--primary-color-variant);
}

nav:target #close{
    display:block;
}

nav:target > a:first-child{
    display: none;
}

aside{
    padding: 40px;
    background-color: var(--secondary-color);
}

aside h2{
    text-align: center;
}

.row{
    display: flex;
    flex-direction: column; 
}

.imagem {
    width: 100%;
    height: auto;
    display: block;
}





