:root{
    --primary-color:#1b263b;
    --primary-color-variant:#e0e1dd;
    --secondary-color: #457b9d;
    --secondary-color-variant:#62b6cb;
    --link-color:#073b4c;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-color);
}

header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 25px 0;
    color:#e0e1dd;
}

header h1 {
    text-shadow: 10px 5px 5px #1b263b;;
}

.container{
    margin-top: 40px;
}

a:any-link{
    color:var(--secondary-color-variant);
    text-decoration: none;
    padding:10px 15px;
}

nav{
    text-align: right;
    background-color: var(--link-color);
    position:fixed;
    top:0;
    left: 0;
    width: 100%;   
    padding: 10px 0; 
}

#close{
    display: none;
}

nav div{
    background-color: var(--link-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(-100%);
    position:absolute;
    transition: transform 0.3s;
}

nav:target div{
    transform: translateX(0);
    text-align: right;
}

nav div a{
    border: 1px dotted var(--primary-color-variant);
}

nav:target #close{
    display:block;
}

nav:target > a:first-child{
    display: none;
}

aside{
    padding: 40px;
    background-color: var(--secondary-color);
}

aside h2{
    text-align: center;
}

.row{
    display: flex;
    flex-direction: column; 
}

.imagem {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.card {
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.card-imagem {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
    border-radius: 25px;
}

@media (max-width: 799px) {
    #baleia.card {
        background-image: url('cauda1.jpg');
        background-size: cover;
        background-position: center;
        color: black;        
    }
    
    #baleia .card-imagem {
        display: none;
    }
}

footer {
    background-color: var(--primary-color);
    color: var(--primary-color-variant);
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    border-radius: 14px;
}

footer h2 {
    margin-bottom: 10px;
    font-size: 14px;
}

footer form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer label {
    margin-top: 5px;
    font-size: 14px;
}

footer input, footer textarea {
    width: 50%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 14px;
}

footer button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: var(--secondary-color);
    color: var(--primary-color-variant);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

footer button:hover {
    background-color: var(--secondary-color-variant);
}















